html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    box-sizing: border-box;
}

body,
button,
.usuario,
input,
input::placeholder,
.banner .perguntas {
    font-family: 'Roboto',
        'sans-serif';
}

header {
    height: 69px;
    background-color: #EC362D;
    color: white;
    font-size: 37px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > span:hover {
    cursor: pointer;
}


main {
    width: 100%;
    height: calc(100% - 69px);
    display: flex;
    flex-flow: column;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
}


.fields {
    margin-bottom: 40px;
    background-color: white;
    box-sizing: border-box;
    padding: 25px 16px 11px 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 600px;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.fields>div {
    width: 100%;
}

.title-text-field,
.title-list,
.title-form {
    color: #000000;
    font-weight: 700;
}

.title-form {
    width: 100%;
    text-align: center;
    margin-bottom: 29px;
    margin-top: 37px;
    font-size: 23px;
}

.fields>.title-text-field {
    font-size: 20px;
    width: 100%;
    text-align: start;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-list {
    font-size: 20px;
    margin-right: 17px;
}


.title-list-content {
    margin-top: 48px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.text-field {
    box-sizing: border-box;
    padding: 12px 14px;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    margin-bottom: 14px;
    border: solid 1px #D1D1D1;
    font-size: 19px;
}

.fields input:focus {
    outline: solid 1px #979696;
}

::placeholder {
    color: #BABABA;
    font-family: 'Roboto', 'sans-serif';
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
}

.btn-criar {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 45px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.sub-text {
    height: 44px;
    color: #818181;
    font-size: 21px;
    line-height: 34px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.usuario>button,
.sub-text:hover,
.title-text-field>img:hover,
.btn-criar:hover {
    cursor: pointer;
}

.sub-text:hover {
    text-decoration: underline;
}

.criacao-card {
    width: 500px !important;
    height: 266px !important;
}

.criacao-card img {
    z-index: -1;
}

.card-quizz img {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    position: absolute;
}

.card-quizz {
    border-radius: 5px;
    position: relative;
    height: 181px;
    width: 340px;
}

.card-quizz:hover {
    cursor: pointer;
    box-shadow: 0 0 15px black;
}

.degrade-card-quizz {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.card-quizz span {
    overflow: hidden;
    height: 54px;
    line-height: 22px;
    text-align: start;
    display: flex;
    align-items: center;
    word-break: break-all;
    right: 23px;
    left: 23px;
    bottom: 0px;
    position: absolute;
    font-size: 19px;
    color: white;
}

.card-quizz .criacao-card span {
    line-height: 27px;
    font-size: 23px;
}

/*  QUIZZES DO USUÁRIO */

.usuario {
    width: 100%;
    margin: 77px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D4D4D4;
}

.text {
    width: 250px;
    margin-top: 30px;
    color: #B9B9B9;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.usuario>button {
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 30px;
    box-sizing: border-box;
    color: #EC362D;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin: 20px auto 33px auto;
    padding: 5px 22px;

}

/*LISTA DE QUIZZES*/

.title-text-field {
    display: block;
    margin-bottom: 12px;
    margin-left: 7px;
}

.title-list {
    height: 32px;
    margin-top: 8px;
    margin-left: 7px;
}

main>div>div {
    display: flex;
}

.add-button {
    height: 30px;
    width: 30px;
    background-color: #EC362D;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-button>ion-icon {
    background-color: #EC362D;
    color: white;
    height: 20px;
    width: 20px;
}

main>div {
    max-width: 1065px;
}

.lista-quizzes,
.lista-quizzes-usuario {
    width: 100%;
    display: inline-flex;
    justify-content: start;
    flex-wrap: wrap;
}

.lista-quizzes .card-quizz,
.lista-quizzes-usuario .card-quizz {
    margin: 0 7.5px 15px 7.5px;
}

.hidden {
    display: none;
}

/* PÁGINA DE UM QUIZZ  */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    height: 227px;
    position: relative;
    margin-bottom: 42px;
}

.banner>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner>.opaco {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
}

.opaco>span {
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    opacity: 1;
}

.perguntas {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 759px;
    height: 676px;
    box-sizing: border-box;
    padding: 28px 36px;
    margin-bottom: 42px;
}

.perguntas>div {
    background-color: blue;
    width: 688px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.perguntas>div>p {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.opcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opcao>img {
    width: 330px;
    height: 175px;
    object-fit: fill;
}

.opcao>div {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 2px auto 18px auto;
    word-break: break-all;
}


.clicadas{
    opacity: 0.3;
}

.escolhida{
    opacity: 1;
}

.clicadas > .certa {
    color: #009C22;
}

.clicadas > .errada {
    color:#FF4B4B;
}

/*Isso aqui faz a caixinha de resultado!!*/

.resultado {
    margin-top: 44px;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    height: 430px;
    background-color: white;
}

.resultado .cabecalho {
    height: 99px;
    width: 100%;
    background-color: #EC362D;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 23px;
}

.resultado .corpo {
    height: 273px;
    align-items: flex-start;
    display: flex;
}

.resultado .corpo img {
    height: 273px;
    width: 100%;
    margin-right: 21px;
}

.resultado .corpo .descricao {
    height: 273px;
    width: 100%;
    font-size: 19px;
    font-weight: 700;
    color: #484848;
    line-height: 25px;
}

/*Para os boxes com error*/
.error-input {
    background-color: #FFE9E9;
}

.div-opaca{
    opacity: 0.3;
}

.right-answer{
    color: green !important;
}

.wrong-answer{
    color: red !important;
}

.error-text {
    font-size: 16px;
    color: #EC362D;
    margin-bottom: 17px;
}

@media (max-width:1100px) {}