html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    box-sizing: border-box;
}

body,
button,
.usuario,
input,
input::placeholder {
    font-family: 'Roboto',
        'sans-serif';
}

header {
    height: 69px;
    background-color: #EC362D;
    color: white;
    font-size: 37px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


main {
    width: 100%;
    height: calc(100% - 69px);
    display: flex;
    flex-flow: column;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.fields {
    margin-bottom: 40px;
    background-color: white;
    box-sizing: border-box;
    padding: 25px 16px 11px 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 600px;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.title-text-field,
.title-form {
    color: #000000;
    font-weight: 700;
}

.title-form {
    width: 100%;
    text-align: center;
    margin-bottom: 29px;
    margin-top: 37px;
    font-size: 23px;
}

.title-text-field {
    font-size: 20px;
    width: 100%;
    text-align: start;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-field {
    box-sizing: border-box;
    padding: 12px 14px;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    margin-bottom: 14px;
    border: solid 1px #D1D1D1;
    font-size: 19px;
}

.fields input:focus {
    outline: solid 1px #979696;
}

::placeholder {
    color: #BABABA;
    font-family: 'Roboto', 'sans-serif';
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
}

.btn-criar {
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 45px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.sub-text {
    height: 44px;
    color: #818181;
    font-size: 21px;
    line-height: 34px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.usuario>button,
.sub-text:hover,
.title-text-field > img:hover,
.btn-criar:hover {
    cursor: pointer;
}

.sub-text:hover {
    text-decoration: underline;
}

.criacao-card {
    width: 500px !important;
    height: 266px !important;
}

.criacao-card img {
    z-index: -1;
}

.card-quizz img {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    position: absolute;
}

.card-quizz {
    border-radius: 5px;
    position: relative;
    height: 181px;
    width: 340px;
}

.card-quizz:hover {
    cursor: pointer;
    box-shadow: 0 0 15px black;
}

.degrade-card-quizz {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.card-quizz span {
    overflow: hidden;
    height: 54px;
    line-height: 22px;
    text-align: start;
    display: flex;
    align-items: center;
    word-break: break-all;
    right: 23px;
    left: 23px;
    bottom: 0px;
    position: absolute;
    font-size: 19px;
    color: white;
}

.card-quizz .criacao-card span {
    line-height: 27px;
    font-size: 23px;
}

/*  QUIZZES DO USUÃRIO */

.usuario{
    width: 100%;
    margin: 77px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D4D4D4;
}

.text{
    width: 250px;
    margin-top: 30px;
    color: #B9B9B9;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.usuario>button{
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 30px;
    box-sizing: border-box;
    color: #EC362D;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin: 20px auto 33px auto;
    padding: 5px 22px;

}

/*LISTA DE QUIZZES*/

main>div>span {
    display: block;
    margin-bottom: 12px;
    margin-left: 7px;
}

main>div {
    max-width: 1065px;
}

.lista-quizzes {
    width: fit-content;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lista-quizzes .card-quizz {
    margin: 0 7.5px 15px 7.5px;
}

.hidden {
    display: none;
}

@media (max-width:1100px) {
    body {
        background-color: red;
    }
}